[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipython = "*"
psycopg2-binary = "*"
django-environ = "*"
django-split-settings = "*"
django-debug-toolbar = "*"
django-silk = "*"
flake8 = "*"
djangorestframework = "*"
django-lifecycle = "*"
dj-rest-auth = "*"
django-allauth = "*"
drf-yasg = "*"
django-widget-tweaks = "*"
redis = "*"
django-redis = "*"
celery = "*"
faker = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
