{% extends "base_generic.html" %}

{% block content %}

<h3>Choose ordering by genre: </h3>
<select class='form-control' size="1" name="jumpit" onchange="document.location.href=this.value"> 
  <option selected value="{% url 'store:book_list' %}">All</option>
  {% for genre in genre_list %}
    <option value="{% url 'store:genre_detail' genre.id %}">{{genre.name}}</option>
  {% endfor %}
</select> 



<h3>Books:</h3>
<ul>
  <div class='jumbotron'>
    {% for book in page_obj %}
      <li><h4><a class="p-2 text-dark" href="{% url 'store:book_detail' book.id %}">{{ book.title }}</a> </h4>
      <h6><a class="p-2 text-dark" href="{% url 'store:author_detail' book.author.id %}">{{ book.author.first_name }} {{book.author.last_name}}</a></h6>
      <h5>{{ book.description|slice:":30" }}</h5>
      <h5>Price: {{ book.price }} UAH</h5>
      <h5>In stock: {{ book.quantity }}</h5>
  
      {% if user.is_authenticated %}
        <a href="{% url 'store:add_to_cart' book.id %}" class="btn btn-dark">Add to Cart</a>
      {% endif %}
      <hr>
    {% empty %}
      <h5>No books yet.</h5>
    {% endfor %}
  </div>
</ul>

{% endblock %}