{% extends "base_generic.html" %}

{% block content %}

<h3>Books you want to owrder:</h3>
<div class="jumbotron">
  {% for cart_item in cart_items %}
    <li><h4><a class="p-2 text-dark" href="{% url 'store:book_detail' cart_item.book.id %}">{{ cart_item.book.title }}</a> </h4>
    <h5>{{ cart_item.book.description|slice:":30" }}</h5></li>
    <h5>Price: {{ cart_item.book.price }}</h5>
    <a href="{% url 'store:remove_from_cart' cart_item.id %}" class="btn btn-dark">Remove from Cart</a>
    <hr>
  {% empty %}
    <h5>No books here yet.</h5>
  {% endfor %}
</div>

<hr>

{% if cart_items %}
  <h4>Total cost: {{ total_cost }} UAH</h4>
{% endif %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="form-actions">
    <button type="submit" class="btn btn-dark">Create an order</button>
  </div>
</form>

{% endblock %}