{% extends "base_generic.html" %}

{% block content %}

<h3>Your order:</h3>

<h4>First name: {{ order.first_name }}</h4>
<h4>Last name: {{ order.last_name }}</h4>
<h4>Phone number: {{ order.phone }}</h4>
<h4>Email: {{ order.email }}</h4>
<h4>Date: {{ order.date }}</h4>
<hr>

<div class="jumbotron">
  {% for order_item in order_items %}
    <li><h4>Book: {{ order_item.book_title }}</h4>
    <h5>Author: {{ order_item.author_first_name }} {{ order_item.author_last_name }}</h5>
    <h5>Publishing house: {{ order_item.publishing_house_name }}</h5>
    <h5>Price: {{ order_item.price }}</h5>
    <h5>Quantity: {{ order_item.quantity }}</h5>
    <hr>
  {% empty %}
    <h5>No books here.</h5>
  {% endfor %}
</div>
<hr>

<h4>Total cost: {{ order.price }}</h4>


{% endblock %}