{% extends "base_generic.html" %}

{% block content %}

<h3>Name: {{ pub_house.name }}</h3></li>
<h5>Year: {{ pub_house.year }}</h5>
<h4>Info: {{ pub_house.info }}</h4>


{% if page_obj %}
  <hr>
  <h3>Publishing house books: </h3>
{% endif %}

<div class="jumbotron">
{% for book in page_obj %}
  <li><h4><a class="p-2 text-dark" href="{% url 'store:book_detail' book.id %}">{{ book.title }}</a> </h4>
  <h5>{{ book.description|slice:":30" }}</h5></li>
  <h5>Price: {{ book.price }} UAH</h5>
	<h5>In stock: {{ book.quantity }}</h5>
  {% if user.is_authenticated %}
    <a href="{% url 'store:add_to_cart' book.id %}" class="btn btn-dark">Add to Cart</a>
  {% endif %}
  <hr>
  {% empty %}
    <h5>No books yet.</h5>
{% endfor %}
</div>

{% endblock %}